@charset "UTF-8";
@media (max-width: 980px) {
  .is-pc {
    display: none;
  }
}
@media (min-width: 981px) {
  .is-sp {
    display: none;
  }
}
.link-color {
  color: #237ee9;
}

.bgc-green {
  background-color: #f1f8ec;
}

.bgc-deep-green {
  background-color: #57b07b;
}

.bg-dark-button {
  background: rgba(87, 69, 70, 0.6);
  display: block;
  height: 100%;
  border-radius: 36px;
  text-align: center;
}

a {
  color: #000000;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Titillium Web", "Noto Sans JP", sans-serif;
  font-size: 16px;
  color: #000000;
  max-width: 100%;
}
@media (max-width: 980px) {
  body {
    font-size: 16px;
  }
}

.inner {
  max-width: 1080px;
  margin: 0 auto;
}

img {
  width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  overflow: hidden;
}

/* ハンバーガーメニュー
// ＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠

/* アコーディオンの中身 */
/* タイトルの背景色 */
.header_top {
  max-width: 1080px;
  padding: 28.3px 40px 14.3px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 980px) {
  .header_top {
    padding: 12px 18px 20px 18px;
  }
}

.logo-pc {
  width: 547px;
  height: 59.4px;
}

.logo-sp {
  width: 258.48px;
}

.header_bottom {
  background-color: #013FB4;
}

.header_bottom_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_bottom_list {
  height: 78px;
  padding: 26px 30px;
  line-height: 24px;
  font-family: "Noto Sans JP", sans-serif;
}

.header_bottom_link {
  color: #fff;
}

.mv-inner {
  margin-inline: auto;
  position: relative;
  text-align: center;
}

.sample-img img {
  height: auto;
  width: 100%;
}

.mv-title {
  color: #fff;
  font-size: 6em;
  font-weight: 700;
  white-space: nowrap;
  left: 50%;
  position: absolute;
  top: 33%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: 0.05em;
}

.mv-sp {
  letter-spacing: 0.07em;
}

.twitter-news {
  position: absolute;
  width: 123px;
  height: 123px;
  bottom: 27%;
  left: 85%;
}

.news-list {
  list-style: none outside;
  margin: 0;
  padding: 0;
}

.news-list .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #CCC;
  padding: 20px 20px;
}

.news-list .item:first-child a {
  border-top: 1px solid #CCC;
}

.news-list .item .date {
  margin: 0;
  min-width: 140px;
  font-size: 16px;
  color: #999;
  padding: 0 20px 0 0;
}

.news-list .item .category {
  margin: 0;
  min-width: 140px;
  padding: 0 20px 0 0;
}

.news-list .item .category span {
  background: #999;
  color: #FFF;
  text-align: center;
  display: inline-block;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1;
}

.news-list .item .title {
  margin: 0;
  width: 100%;
}

.news-list .item a:hover .title {
  color: #00F;
}

@media screen and (max-width: 767px) {
  .news-list .item a {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news-list .item .date {
    min-width: 100px;
  }
  .news-list .item .title {
    margin-top: 10px;
  }
}
.top-news-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrow_right::before { /* くの字の表示設定 */
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2px;
  width: 13px; /* くの字を山なりに見た時、左側の長さ */
  height: 13px; /* くの字を山なりに見た時、右側の長さ */
  border-top: 3px solid #000; /* くの字を山なりに見た時、左側の太さと色 */
  border-right: 3px solid #000; /* くの字を山なりに見た時、右側の太さと色 */
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); /* くの字の向き */
}