// ＠＠＠＠＠＠＠＠＠
// 基本記述
// ＠＠＠＠＠＠＠＠＠
@charset "utf-8";

// ＠＠＠＠＠＠＠＠＠
// レスポンシブ記述
// ＠＠＠＠＠＠＠＠＠

//マップ型変数breakpointsを定義
$breakpoints: (
  //キー  値
  "sp": "(max-width: 980px)",
  //980px以下用の表示
  "md": "(min-width: 981px)",
  //981px以上用の表示
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
  //map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

@include mq(sp) {
  .is-pc {
    display: none;
  }
}

@include mq(md) {
  .is-sp {
    display: none;
  }
}

// ＠＠＠＠＠＠＠＠＠
// 共通事項定義
// ＠＠＠＠＠＠＠＠＠

// colors
$color-blue:#013FB4;
$font-color-black: #000000;
$link-color: #237ee9;

.link-color {
  color: $link-color;
}

//背景色

.bgc-green {
  background-color: #f1f8ec;
}

.bgc-deep-green {
  background-color: #57b07b;
}

.bg-dark-button {
  background: rgba(87, 69, 70, 0.6);
  display: block;
  height: 100%;
  border-radius: 36px;
  text-align: center;
}


// 各種ボタン
a {
  color: $font-color-black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
  @include mq("sp") {
  }
}

//フォント
$font-en: "Titillium Web";
$font-ja: "Noto Sans JP", sans-serif;

body {
  font-family: $font-en, $font-ja;
  font-size: 16px;
  color: $font-color-black;
  max-width: 100%;
  @include mq("sp") {
    font-size: 16px;
  }
}

// ＠＠＠＠＠＠＠＠＠
// インナー
// ＠＠＠＠＠＠＠＠

.inner {
  max-width: 1080px;
  margin: 0 auto;
  @include mq('sp'){
    padding: 0 20px;
  }
}

img {
  width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  overflow: hidden;
}

.opacity {
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.5;
  }
}


// ＠＠＠＠＠＠＠＠＠
// パンくずリスト
// ＠＠＠＠＠＠＠＠
/* 共通 ------------------------------*/
*[class*="cp-"],
*[class*="cp-"] * {
  box-sizing: border-box;
}

/* パンくずリスト ------------------------------*/
.cp-breadcrumb01 {
  padding: 3px 20px 3px 20px;
  font-size: 15px;
  list-style: none;
  @include mq('md'){
    margin-top: 20px;
  }
  @include mq('sp'){
    background-color: #D6E4FF;
  }
}

/* アイテム */
.cp-breadcrumb01__item {
  display: inline;
  position: relative;
  line-height: 1.5;
  color: #333;
  font-weight: bold;

}
.cp-breadcrumb01__item:not(:first-child) {
  margin-left: 24px;
}
.cp-breadcrumb01__item:not(:last-child):after {
  position: absolute;
  content: "\f054";
  top: 50%;
  right: -16px;
  transform: translateY(-50%);
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: #707070;
}
.cp-breadcrumb01__item a {
  transition: 0.2s ease-in-out;
  color: #707070;
  text-decoration: none;
  font-weight: normal;
}
.cp-breadcrumb01__item a:hover {
  opacity: 0.7;
}
