@use "cmn";

.single-bg {
  padding: 0 40px 140px 40px;
  background-color: #d8e4fd;
  @include cmn.mq("sp") {
    padding: 0;
  }
}

.single-h2ttl {
  color: #ffffff;
  font-size: 100px;
  margin-top: 50px;
  margin-bottom: 30px;
  @include cmn.mq("sp") {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.single-wrapper {
  display: flex;

  @include cmn.mq("sp") {
    display: block;
  }
}

.single-container {
  background-color: #fff;
  margin-right: 64px;
  padding: 30px 30px 60px 30px;
  @include cmn.mq("md") {
    min-width: 64%;
  }
  @include cmn.mq("sp") {
    margin-right: 0;
    padding: 15px 15px 30px 15px;
    margin-bottom: 50px;
  }
}

.single-aside {
  margin-top: 0;
  margin-right: 0;
}

.single-info {
}

.single-h1 {
  color: #013fb4;
  font-size: 36px;
  margin-top: 21px;
  margin-bottom: 28px;
  @include cmn.mq("sp") {
    font-size: 20px;
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 14px;
  }
}

.single-date-container {
  padding-bottom: 15px;
  background-image: linear-gradient(
    to right,
    #013fb4,
    #013fb4 2px,
    transparent 5px,
    transparent 8px
  ); /* 幅2の線を作る */
  background-size: 8px 1px; /* グラデーションの幅・高さを指定 */
  background-position: left bottom; /* 背景の開始位置を指定 */
  background-repeat: repeat-x; /* 横向きにのみ繰り返す */
  display: flex;
  @include cmn.mq("sp") {
    display: block;
  }
}

.single-release {
  margin-right: 30px;

  > span {
    margin-left: 47px;
    @include cmn.mq("sp") {
      margin-left: 47px;
    }
  }
}

.single-update {
  color: #e20606;
  > span {
    margin-left: 15px;
  }
}
.single-body {
  padding: 34px 20px 0 20px;
  @include cmn.mq("sp") {
    padding: 17px 10px 0 10px;
  }
  > p {
    line-height: 1.7;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2em;
    @include cmn.mq("sp") {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.single-body img {
  width: auto;  
}


.single-body a {
  color: #0000EE;
}



.single-txt {
  line-height: 1.7;
  padding-left: 10px;
  padding-right: 10px;
  @include cmn.mq("sp") {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.single-h2 {
  font-size: 22px;
  background-color: #d6e4ff;
  padding: 8px 15px 8px 15px;
  border-left: #013fb4 4px solid;
  margin-bottom: 10px;
  margin-top: 5px;
  @include cmn.mq("sp") {
    font-size: 19px;
    padding: 5px 5px 5px 5px;
    line-height: 1.3;
  }
}

.single-body h2 {
  font-size: 22px;
  background-color: #d6e4ff;
  padding: 8px 15px 8px 15px;
  border-left: #013fb4 4px solid;
  margin-bottom: 10px;
  margin-top: 5px;
  @include cmn.mq("sp") {
    font-size: 19px;
    padding: 5px 5px 5px 5px;
    line-height: 1.3;
  }
}

.single-h3 {
  color: #013fb4;
  font-size: 22px;
  border-bottom: 1px solid #707070;
  padding-bottom: 4px;
  margin-bottom: 10px;
  margin-top: 5px;
  @include cmn.mq("sp") {
    font-size: 18px;
  }
}

.single-body h3 {
  color: #013fb4;
  font-size: 22px;
  border-bottom: 1px solid #707070;
  padding-bottom: 4px;
  margin-bottom: 10px;
  margin-top: 5px;
  @include cmn.mq("sp") {
    font-size: 18px;
  }
}
.single-h4 {
  line-height: 1.575;
  font-weight: 700;
}

.single-body h4 {
  line-height: 1.575;
  font-weight: 700;
}


.ez-toc-container-direction {
  margin-top: 20px;
}

.single-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  @include cmn.mq('sp'){
    flex-direction: column;
    margin-top: 40px;
  }
}

.single-cmn-btn{
  display: block;
  color: #013FB4;
  font-size: 16px;
  padding: 8px 30px;
  border-radius: 20px;
  border: #013FB4 1px solid;
  @include cmn.mq('md'){
    & + & {
      margin-left: 40px;
    }
  }
  transition: all 0.3s ease;
  @include cmn.mq('sp'){
    margin: 0 auto;
    min-width: 200px;
    max-width: 200px;
    text-align: center;
    padding: 8px 20px;
    & + & {
      margin-top: 30px;
    }
  }
  &:hover {
    color: #fff;
    background-color: #013FB4;
  }
}

// ファイル追加のブロックエディタの文字サイズ調整
.wp-block-file:not(.wp-element-button)  {
  font-size: 1em;
  line-height: 1.7;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2em;
  @include cmn.mq("sp") {
    padding-left: 5px;
    padding-right: 5px;
  }
}


// WordPressの初期のmaeginを打ち消し
.wp-block-file {
  margin-bottom: 0;
}

.wp-block-columns {
  margin-bottom: 0;
}