
// ＠＠＠＠＠＠＠＠＠
// ホバーアニメーション
// ＠＠＠＠＠＠＠＠
.opacity {
  &:hover {
    opacity: 0.7;
    transition: ease 0.2s;
  }
}

// ＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠
/* ハンバーガーメニュー
// ＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠

/* アコーディオンの中身 */
@use 'cmn';
.accordion {
  @include cmn.mq("sp") {
    position: fixed;
    top: 0;
  }
}

.accordion-title {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}
.accordion-content {
  display: none;
  padding: 10px 20px;
}
.accordion-content p {
  font-size: 13px;
  line-height: 1.5;
}
/* タイトルの背景色 */




//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠
//header
//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠

.header_inner {
}

.header_top {
  display: flex;
  max-width: 1080px;
  padding: 28.3px 40px 14.3px 10px;

}

.header_top_left {
  display: flex;
  align-items: center;
}



.header_top_logo_r_blue {
}

h1 {
  // display: block;
  // @include mq('md'){
  //   width: 547px;
  //   height: 38.87px;
  // }
  // @include mq('sp'){
  //   width: 258.48px;
  //   height: 59.4px;
  // }
}


.header_top_right_menu {

}

.header_top_right {
}

.header_top_right_list {

}

.header_top_right_link {

}

.header_bottom {

}

.header_bottom_menu {

}

.header_bottom_link {

}

.header_bottom_list {

}

.header_bottom_link {

}



// ヘッダーのアコーディオンメニュー


//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠
//スクロールトップ
//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠


//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠
//main-visual
//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠

//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠
// news
//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠
