@use "cmn";

// ＠＠＠＠＠＠＠＠＠
// ハンバーガー
// ＠＠＠＠＠＠＠＠

.pc-header {
  padding: 18px 20px 18px 12px;
}

.h1-pc{
  width: 68.98%;
}


#toggle {
  position: fixed;
  top: 23px;
  right: 20px;
}
#toggle-box {
  position: relative;
  width: 28px;
  height: 34px;
  cursor: pointer;
}


.humberger> p {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
  margin: 0 auto;
}
#toggle-box > span {
  width: 100%;
  height: 1px;
  left: 0;
  display: block;
  background: #000;
  position: absolute;
  transition: transform 0.3s ease-in-out, top 0.5s ease, bottom 0.5s ease;
}

#toggle-box > span:nth-child(1) {
  top: 0;
}
#toggle-box > span:nth-child(2) {
  top: 25%;
  transform: translatey(-50%);
}
#toggle-box > span:nth-child(3) {
  top: 50%;
  transform: translatey(-50%);
}


.is-open .humberger-text {
  color: #fff;
}



.is-open #toggle-box > span {
  background: #fff;
}
.is-open #toggle-box > span {
  background: #fff;
}
.is-open #toggle-box > span:nth-child(1) {
  top: 25%;
  transform: rotate(45deg) translatey(-50%);
}
.is-open #toggle-box > span:nth-child(2) {
  width: 0;
}
.is-open #toggle-box > span:nth-child(3) {
  top: 25%;
  transform: rotate(-45deg) translatey(-50%);
}

/* z-index */
#toggle {
  z-index: 1000;
}
#main {
  position: relative;
  z-index: 990;
}

#nav-content {
  z-index: 900;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 60px 0px;
  background: #013fb4;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
#nav-content ul {
  list-style: none;
  margin-bottom: 30px;
}
#nav-content a {
  display: block;
  color: #fff;
  text-decoration: none;

  transition: opacity 0.6s ease;
  pointer-events: none;
}
#nav-content li:hover {
  background-color: #000;
}



.nav-content-link {
  padding: 18px 0;
}

.is-open {
  overflow: hidden;
}
.is-open #nav-content {
  z-index: 999;
  visibility: visible;
  opacity: 1;
}
.is-open #nav-content a {
  pointer-events: auto;
}

.nav-logo-ttl {
  margin-bottom: 10px;
}

.nav-twiitter {
  margin: 0 auto;
  width: 25px;
  height: 25px;
  margin-bottom: 30px;
}

.nav-logo-img {
  margin: 0 auto;
  width: 204.9px;
  height: auto;
}

//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠
//header
//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠

.header_inner {
}

.header_top {
  max-width: 1080px;
  padding: 28.3px 40px 14.3px 10px;
  display: flex;
  @include cmn.mq("sp") {
    padding: 12px 18px 20px 18px;
  }
}

.logo-pc {
  width: 547px;
  height: 59.4px;
}

.logo-sp {
  width: 258.48px;
}

.header_bottom {
  background-color: cmn.$color-blue;
}

.header_bottom_menu {
  display: flex;
  justify-content: space-between;
}

.header_bottom_list {
  height: 78px;
  padding: 26px 30px;
  line-height: 24px;
  font-family: cmn.$font-ja;
  transition: 0.3s ease;
  &:hover {
    background-color: #000;
  }
}

.header_bottom_link {
  color: #fff;
}

.header_top_right_list {
}

.header_top_logo_r_blue {
}

.header_top_right_menu {
}

.header_top_right {
}

.header_top_right_link {
}

.header_bottom_link {
}

// ヘッダーのアコーディオンメニュー

//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠
//main-visual
//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠

.mv {
  position: relative;
  z-index: 10;
}

.mv-inner {
  margin-inline: auto;
  position: relative;
  text-align: center;
}


.mv-img {
  height: auto;
  max-width: 100%;
}

.mv-title {
  color: #fff;
  font-size: 6em;
  font-weight: 700;
  white-space: nowrap;
  left: 50%;
  position: absolute;
  top: 33%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.05em;
  @include cmn.mq('sp'){
    font-size: 2em;
  }
}

.mv-sp {
  letter-spacing: 0.07em;
}

.twitter-news {
  background: url(../img/twitter-news.png) no-repeat center center / cover;
  position: fixed;
  width: 123px;
  height: 123px;
  bottom: 3%;
  left: 87%;
  transition: 0.3s ease;
  &:hover {
    background: url(../img/twitter-news-blue.png) no-repeat center center /
      cover;
  }
}

//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠
// news
//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠
.top-news {
  background: url(../img/top-news-bg.png);
  margin-top: -60px;
  padding-bottom: 165.15px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -35%;
    right: 10%;
    background: url(../img/news-ttm.png) no-repeat center center / contain;
    width: 230px;
    // width: 100%;
    height: 530.18px;
  }
  @include cmn.mq('sp'){
    margin-top: -18px;
  }
}

.top-news-inner {
  max-width: 800px;
}

.top-ttl-wrapper {
  text-align: center;
  margin-bottom: 45px;
  @include cmn.mq('sp'){
    margin-bottom: 24px;
  }
}

.top-news-ttl {
  font-size: 45px;
  color: cmn.$color-blue;
  > span {
    display: block;
    color: #000000;
    font-size: 16px;
    @include cmn.mq('sp'){
      display: none;
    }
  }
  @include cmn.mq('sp'){
    font-size: 24px;
  }
}

.top-news-list {
  padding: 0 30px;
  margin-bottom: 48.5px;
  > .top-news-item {
    a {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-wrap: nowrap;
      text-decoration: none;
      color: #333;
      padding: 20px 20px;
      background-image: linear-gradient(
        to right,
        #000,
        #000 2px,
        transparent 5px,
        transparent 8px
      ); /* 幅2の線を作る */
      background-size: 8px 1px; /* グラデーションの幅・高さを指定 */
      background-position: left bottom; /* 背景の開始位置を指定 */
      background-repeat: repeat-x; /* 横向きにのみ繰り返す */
      &:hover {
        .top-news-cat-info,
        .top-news-post,
        .arrow-wrapper {
          transition: 0.5s ease;
          opacity: 0.7;
          &.arrow-wrapper {
            transform: translateX(20px);
          }
        }
      }
    }
  }
  @include cmn.mq('sp'){
    padding: 0 25px;
  }
}

.top-news-cat-wrapper {
  width: 144px;
}

.top-news-cat-info {
  > span {
    height: 24px;
    border-radius: 5px 0px;
    background: cmn.$color-blue;
    color: #fff;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 15px;
    line-height: 1;
  }
}
.top-news-cat-register {
  > span {
    height: 24px;
    border-radius: 5px 0px;
    background: #fff;
    color: #000000;
    border: #000000 1px solid;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 15px;
    line-height: 1;
  }
}
.top-news-cat-game {
  > span {
    height: 24px;
    border-radius: 5px 0px;
    background: #fff;
    color: cmn.$color-blue;
    border: cmn.$color-blue 1px solid;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 15px;
    line-height: 1;
  }
}

.top-news-date {
  color: #e20606;
  line-height: 35px;
  transform: translateY(-14px);
}

.top-news-name {
  padding-right: 30px;
  transform: translateY(-14px);
}

.top-news-post {
  width: calc(100% - 144px);
}

.top-news-article {
  display: flex;
  align-items: center;
}

.arrow-wrapper {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  display: inline-block;
  margin-left: -29px;
  height: 29px;
  transition: 0.5s ease;
}

.arrow-right {
  position: relative;
  display: block;
  border-radius: 29px;
  width: 29px;
  height: 30px;
  transform: translateY(-6px);
  border: 1px solid #000;

  &:before {
    content: "";
    position: absolute;
    right: 9px;
    top: 10.5px;
    width: 7px;
    height: 7px;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    position: absolute;
    margin-left: 9px;
    margin-top: 14px;
    width: 9px;
    height: 1px;
    background-color: #000000;
  }
}

.btn-soccer {
  width: 308px;
  height: 50px;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  line-height: 50px;
  position: relative;
  transition: 0.5s all;
  &::before {
    position: absolute;
    content: "";
    background: url(../img/ball.png) no-repeat center center / cover;
    width: 26.68px;
    height: 26.68px;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    transition: 0.5s all;
  }
  &:hover {
    font-size: 24px;
    background-color: #d6e4ff;
    &::before {
      left: 85%;
    }
  }
}

.news-button {
  margin: 0 auto;
}

//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠
// tournament
//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠
.top-tournament {
  background: url(../img/top-tounament-bg.png) no-repeat center center / cover;
  padding: 57px 40px 102.15px 40px;
}

.top-ttl-wrapper-tournament {
  text-align: center;
  margin-bottom: 70px;
}

.top-tornament-ttl {
  font-size: 45px;
  color: #ffff;

  > span {
    display: block;
    color: #ffff;
    font-size: 16px;
  }
}

.tournament-container {
  /* グリッドコンテナ */
  display: grid;
  /* 最小100px、最大1frの列を繰り返しつくる */
  grid-template-columns: repeat(4, 200px);
  /* 余白 */
  column-gap: 40px;
  row-gap: 40px;
  justify-content: center;
  margin-bottom: 93.85px;
}

.tournament-button {
  margin: 0 auto;
}

.img_container {
  position: relative;
  overflow: hidden;
  transition: 0.6s ease all;
  img:nth-child(1) {
    opacity: 0;
  }
  &:hover {
    img:nth-child(2) {
      opacity: 0;
    }
    img:nth-child(1) {
      opacity: 1;
    }
  }
}

img:nth-child(2) {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tm-Btn {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: initial;
  overflow: hidden;
}

.tm-btn-u18 {
  background: url(../img/u18.png) no-repeat center center / cover;
}
.tm-btn-u15 {
  background: url(../img/u15.png) no-repeat center center / cover;
}
.tm-btn-dev {
  background: url(../img/dev.png) no-repeat center center / cover;
}
.tm-btn-u13 {
  background: url(../img/u13.png) no-repeat center center / cover;
}
.tm-btn-u18t {
  background: url(../img/u18t.png) no-repeat center center / cover;
}
.tm-btn-u17 {
  background: url(../img/u17.png) no-repeat center center / cover;
}
.tm-btn-u14 {
  background: url(../img/u14.png) no-repeat center center / cover;
}
.tm-btn-training {
  background: url(../img/training.png) no-repeat center center / cover;
}

.tm-Btn-Text1,
.tm-Btn-Text2,
.tm-Btn-Text3 {
  color: #fff;
  transition: 0.6s ease all;
  z-index: 100;
}

.tm-Btn-Text1 {
  font-size: 14px;
}

.tm-Btn-Text2 {
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
}

.tm-Btn:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 60px;
  margin: auto;
  width: 45px;
  height: 45px;
  transform: scale(0);
  transition: 0.5s ease all;
}

.tm-btn-u18::before {
  background: #3101b4 no-repeat center center / contain;
}
.tm-btn-u15::before {
  background: #e20606 no-repeat center center / contain;
}
.tm-btn-dev::before {
  background: #049f28 no-repeat center center / contain;
}
.tm-btn-u13::before {
  background: #c7b800 no-repeat center center / contain;
}
.tm-btn-u18t::before {
  background: #00a8db no-repeat center center / contain;
}

.tm-btn-u17::before {
  background: #c302c3 no-repeat center center / contain;
}
.tm-btn-u14::before {
  background: #db4d01 no-repeat center center / contain;
}
.tm-btn-training::before {
  background: #013fb4 no-repeat center center / contain;
}

.tm-Btn:hover:before {
  transform: scale(4.2);
}

//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠
// introduction
//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠

.top-introduction {
  padding: 180.85px 40px;
  background: url(../img/top-introduction-bg.png) no-repeat center center /
    cover;
}

// @@@@@@@@@
// top-team
// @@@@@@@@@

.top-about {
  display: flex;
  margin-bottom: 160px;
}

.top-about-img {
  flex: 1 0 53.2%;
  margin-right: 70px;
}

.top-about-right {
}

.top-about-ttl,
.top-team-ttl {
  font-size: 125px;
  color: #013fb4;
  margin-bottom: 20px;
  font-weight: 700;
}

.top-about-subttl {
  font-size: 20px;
  margin-bottom: 20px;
}

.top-about-text {
  margin-bottom: 89.5px;
  line-height: 30px;
}

.tournament-button {
  margin-right: auto;
}

// @@@@@@@@@
// top-team
// @@@@@@@@@

.top-team {
  display: flex;
}

.top-team-l {
  margin-right: 70px;
}

.top-team-block {
  width: 155px;
  height: 88px;
  background-color: #013fb4;
  color: #f7d239;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  padding: 15px 10px;
  transition: all 0.3s;
  > span {
    display: block;
    font-size: 18px;
  }
  &:hover {
    background-color: #000;
    transform: rotate(-10deg);
  }
}

.top-team-ttl {
}

.top-team-subttl {
  margin-bottom: 100px;
  text-align: center;
  font-size: 20px;
}

.top-team-r {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 26px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 2 / 1 / 3 / 2;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
}
.div7 {
  grid-area: 3 / 1 / 4 / 2;
}
.div8 {
  grid-area: 3 / 2 / 4 / 3;
}

//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠
// フッター
//＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠
.footer {
  padding: 84.33px 53px;
  background-color: #013fb4;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
}

.footer-left {
}

.footer-left-ttl {
  font-size: 24px;
  color: #f7d239;
  margin-bottom: 40px;
}

.footer-left-logo {
  width: 320.5px;
  height: 77px;
  margin-bottom: 75.67px;
  transition: all 0.3s;
  &:hover {
    opacity: 0.7;
  }
}

.footer-left-link-jfa {
  width: 193px;
  height: 128px;
  margin-bottom: 34px;
  font-size: 13px;
  transition: all 0.3s;
  &:hover {
    opacity: 0.7;
  }
}

.footer-left-arr {
  color: #fff;
}

.footer-center {
}

.footer-center-top {
  display: flex;
  margin-bottom: 30px;
}

.footer-center-top-l {
  margin-right: 80px;
  > li > a {
    color: #fff;
    line-height: 35px;
  }
}

.footer-center-top-link {
  transition: all 0.3s;
  position: relative;
  &:hover {
    color: #f7d239;
  }
}

.footer-center-top-link::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #f7d239;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.footer-center-top-link:hover::after {
  transform-origin: right top;
  transform: scale(1, 1);
}

.footer-center-top-r {
  > li > a {
    color: #fff;
    line-height: 35px;
  }
}

.footer-center-bottom {
  > li > a {
    color: #fff;
    line-height: 35px;
  }
}

.footer-right {
}

.twitter-timeline {
}
