/* ------------------ */
/* pass */
/* ------------------ */

.pass_container {
  width: 100%;
  text-align: center;
  padding: 80px 40px 110px 40px;
  @include mq('sp'){
    padding: 60px 20px 56.5px 20px;
  }
}

.pass-content-description {
  font-size: 18px;
  line-height: 27px;
  width: 764px;
  height: 162px;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 58px;
}

@media (max-width: 980px) {
  .pass-content-description {
    width: 333px;
    height: 270px;
    left: 20px;
    font-size: 16px;
    line-height: 30px;
  }
}

.pass-content-description a {
  text-decoration: none;
  color: #237ee9;
}

.document-list {
  max-width: 764px;
  text-align: left;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 980px) {
  .document-list {
    max-width: 100%;
  }
}

.document-item {
  position: relative;
  width: 764px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

@media (max-width: 980px) {
  .document-item {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}

.document-item::before {
  content: '';
  position: absolute;
  border-bottom: 1px solid #e9e9e9;
  width: 100%;
  bottom: 0px;
}

.document-title {
  @include mq('md'){
    width: 20.680%;
  }
  display: block;
  height: 24px;
  font-size: 18px;
  line-height: 27px;
  color: #57b07b;
  margin-right: 30px;
}

@media (max-width: 980px) {
  .document-title {
    margin-bottom: 5.75px;
  }
}

.document-title a {
  width: 199px;
  height: 28px;
  font-size: 18px;
  line-height: 28px;
}



.document-title-link {
  display: inline-block;
  &:after {
    display: inline-block;
    content: "";
    background-image: url(../img/pdf_icon.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px auto;
    width: 25px;
    height: 26.5px;
    z-index: 10;
    margin-left: 5px;
    vertical-align: middle;
  }
}


input[type='password'] {
  font-family: Verdana;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 1.5em;
}

.password-input {
  font-size: 1.5em;
}


// チェックボックス

.ECM_CheckboxInput {
  // padding: 12px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.ECM_CheckboxInput-Input {
  margin: 0;
  width: 0;
  opacity: 0;
}


.ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput {
  background:$font-color-main;
  border: 1px solid $font-color-main;
}


.ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::before {
  content: "";
  display: block;
  position: absolute;
  top: 35%;
  left: 63%;
  width: 40%;
  height: 3px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-135deg);
  transform-origin: 2px 2px;
  background: #FFFFFF;
}
.ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::after {
  content: "";
  display: block;
  position: absolute;
  top: 37%;
  left: 66%;
  width: 65%;
  height: 3px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-45deg);
  transform-origin: 2px 2px;
  background: #FFFFFF;
}
.ECM_CheckboxInput-DummyInput {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 23px;
  height: 23px;
  border: 1px solid #B1B1B1;
  background: linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 100%);
  border-radius: 4px;
}
.ECM_CheckboxInput-LabelText {
  margin-left: 12px;
  display: block;
  font-size: 16px;
}
